# TODO: Make me! Read more in /requirements.txt
Po napisaniu dobrego readme z podręcznikiem instalacji, i byc może zrobieniu
setup.py (skryptu instalacyjnego),
jedna osoba (mogę to być ja, M) powinna odpalić czyste ubuntu na virtualboxie
i sprawdzić, czy wszystko da się ładnie wg instrukcji postawić
